@font-face {
    font-family: 'Proxima Nova';
    src: url(../font/ProximaNova/ProximaNova-Regular.otf);
    }

body {
        background-color: #FFF;
        font-family: 'Proxima Nova';
        margin: 0;
        padding: 0;
    }

header {
    height: 70px;
    display: flex;
    background-color: #111;
    color: #FFF;
    align-items: center;
    justify-content: space-between;
}

h1 {
    width: 180px;
    font-size: large;
    padding-left: 5px;
}

.search-button {
    padding-right: 10px;
}

.sign-in {
    background-color: #111;
    color: #FFF;
    border-radius: 5px;
    border-color: #FFF;
    font-size: large;
    width: 80px;
}

nav.top-nav {
    height: 30px;
    display: flex;
    background-color: #111;
    color: #FFF;
    justify-content: space-around;
}

nav.top-nav > a {
    color: #FFF;
    text-decoration: none;
}

h2 {
    text-decoration: underline;
}

.container-1 {
    display: flex;
    margin-bottom: 25px;
    /* flex-wrap: wrap; */
}

.container-1-txt {
    display: flex;
    flex-wrap: wrap;
}

h3 {
    height: 10px;
    margin-top: 0;
}

.poster {
    border-radius: 10px;
}

.nav-notable {
    display: flex;
    justify-content: space-around;
}

.nav-notable > a {
    text-decoration: none;
}

.green-score {

    background-color: greenyellow;
    max-width: 30px;
}