@font-face {
    font-family: 'Proxima Nova';
    src: url(../font/ProximaNova/ProximaNova-Regular.otf);
    }



body {
        background-color: #FFF;
        font-family: 'Proxima Nova';
        margin: 0;
        padding: 0;
        /* overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none; */
    }
/* body::-webkit-scrollbar {
    display: none;
    width: 0;
} */

h1 {
    width: 180px;
    font-size: 22px;
    padding-left: 5px;
}

h2 {
    text-decoration: underline 2px;
    margin-left: 15px;
}

h3 {
    height: 10px;
    margin-top: 0;
}


header {
    height: 70px;
    display: flex;
    background-color: #111;
    color: #FFF;
    align-items: center;
    justify-content: space-between;
}

header > img {
    margin-left: 5px;
}

.search-button {
    padding-right: 0px;
}

.sign-in {
    background-color: #111;
    color: #FFF;
    border: 2px solid;
    border-radius: 5px;
    border-color: #FFF;
    font-size: large;
    width: 90px;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;
}

nav.top-nav {
    height: 30px;
    display: flex;
    background-color: #111;
    color: #FFF;
    justify-content: space-around;
}

nav.top-nav > a {
    color: #FFF;
    text-decoration: none;
}

.container-1 {
    display: flex;
    margin-bottom: 25px;
    margin-left: 10px;
}

.container-1-txt {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
}

.container-1-txt > p {
    color: #333333;
}

.poster {
    border-radius: 10px;
}

.scroll-h {
    display: flex;
    width: 100%;
    overflow-x: auto;
}
.scroll-h > img {
    margin: 10px;
    border-radius: 10px;
}

.nav-notable {
    display: flex;
    justify-content: space-around;
}

.nav-notable > a {
    text-decoration: none;
    color: #0047FF;
}

.green-score {
    background-color: #48B80F;
    color: #FFF;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    margin-right: 15px;
}

.yellow-score {
    background-color: #FFB300;
    color: #FFF;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    margin-right: 15px;
}

.red-score {
    background-color: #FF2929;
    color: #FFF;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    margin-right: 15px;
}


.flexbox-container-2 {
    display: flex;
    flex-direction: row;
}

.item {
    flex-direction: column;
    /* width: 280px; */
    width: 80%;
    margin-left: 15px;
}

.item > p {
    font-size: 15px;
    color: #333333;
}

button {
    background-color: #111;
    color: #FFF;
    border-color: #111;
    border-radius: 8px;
    width: 80%;
    height: 45px;
    text-transform: capitalize;
    font-size: large;
}

.button-view {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #575757;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    margin-top: 25px;
}

footer > img {
    display: flex;
    margin-top: 10px;
}

nav.bottom-nav {
    height: 50px;
    display: flex;
    background-color: #575757;
    color: #FFF;
    justify-content: space-around;
}

nav.bottom-nav > a {
    color: #FFF;
    text-decoration: none;
}
