@font-face {
    font-family: 'Proxima Nova';
    src: url(../font/ProximaNova/ProximaNova-Regular.otf);
    }



body {
        background-color: #FFF;
        font-family: 'Proxima Nova';
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
body::-webkit-scrollbar {
    display: none;
}

header {
    height: 70px;
    display: flex;
    background-color: #111;
    color: #FFF;
    align-items: center;
    justify-content: space-between;
}

header > img {
    margin-left: 5px;
}


h1 {
    width: 180px;
    font-size: 22px;
    padding-left: 5px;
}

.search-button {
    padding-right: 0px;
}

.sign-in {
    background-color: #111;
    color: #FFF;
    border: 2px solid;
    border-radius: 5px;
    border-color: #FFF;
    font-size: large;
    width: 80px;
}

nav.top-nav {
    height: 30px;
    display: flex;
    background-color: #111;
    color: #FFF;
    justify-content: space-around;
}

nav.top-nav > a {
    color: #FFF;
    text-decoration: none;
}

h2 {
    text-decoration: underline 2px;
    margin-left: 15px;
}

.container-1 {
    display: flex;
    margin-bottom: 25px;
    margin-left: 10px;
}

.container-1-txt {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
}

h3 {
    height: 10px;
    margin-top: 0;
}

.poster {
    border-radius: 10px;
}

.scroll-h {
    display: flex;
    width: 100%;
    overflow-x: auto;
}
.scroll-h > img {
    margin: 10px;
    border-radius: 10px;
}

.nav-notable {
    display: flex;
    justify-content: space-around;
}

.nav-notable > a {
    text-decoration: none;
}

.green-score {

    background-color: greenyellow;
    max-width: 30px;
}

button {
    background-color: #111;
    color: #FFF;
    border-color: #111;
    border-radius: 8px;
    width: 50%;
    height: 35px;
    text-transform: capitalize;
    font-size: large;
}

.button-view {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #A0A0A0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    margin-top: 25px;
}

footer > img {
    display: flex;
    margin-top: 10px;
}

nav.bottom-nav {
    height: 50px;
    display: flex;
    background-color: #A0A0A0;
    color: #FFF;
    justify-content: space-around;
}

nav.bottom-nav > a {
    color: #FFF;
    text-decoration: none;
}
